<%= form_for(@animation, :html => {:name => 'form'}) do |f| %>
  <% if @animation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animation.errors.count, "error") %> prohibited this animation from being saved:</h2>

      <ul>
      <% @animation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-size: medium;">
    <div>
      <p><%= f.label :作品タイトル %></p>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
      <p><%= f.label :推薦者 %></p>
      <%= f.text_field :owner, :value => '@'+session[:user_sid] %><br>
      twitterIDを@形式で入力するとリンクされます.<br>
    </div>
    <br>
    <div>
      <p><%= f.label :ジャンル %></p>
      <%= f.text_field :cat %>
    </div>
    <br>
    <div class="field">
      <p><%= f.label :作品詳細・概要 %></p>
      <%= f.text_area :detail ,:size => '30x10'%>
    </div>
    <br>
    <div>
      <p><%= f.label :話数 %></p>
      <%= f.number_field :episodes %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit :value => '登録する' %>
    </div>
  </div>
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
  $("form").submit(function(){
    if((!document.form.animation_title.value)||(!document.form.animation_owner.value)||(!document.form.animation_cat.value)||(!document.form.animation_detail.value)||(!document.form.animation_episodes.value)) {
      alert("未入力の項目があります。");
      return false;
    } else {
      if (window.confirm("送信してよろしいですか？")) {
        return true;
      } else {
        return false;
      }
    }
  });
</script>