<% @current_loc = "Wakotsu Laboratory" %>
<% @current_path = "/" %>

<% content_for :title do %>
  About Me | Wakotsu Laboratory
<% end %>

			<div class="jumbotron">
				<h1><%= image_tag("woodstoc.png", :alt => "こんにちは") %>About Me</h1>
				<div class="col-sm-12">
					<div class="panel panel-success">
						<div class="panel-heading"><h2 class="panel-title">Profile</h2></div>
						<div class="panel-body">
							<p><%= simple_format(@profile.profile) %></p>
							<hr>
							<a href="http://github.com/YutaSZK" target="_blank"><button type="button" class="btn btn-lg btn-warning">Github</button></a>
							<a href="http://www.amazon.co.jp/registry/wishlist/3MJDA7W8W7EE8" target="_blank"><button type="button" class="btn btn-lg btn-success">WishList</button></a>
							<a href="https://www.facebook.com/yutaszk" target="_blank"><button type="button" class="btn btn-lg btn-primary">Facebook</button></a>
							<a href="http://profile.hatena.ne.jp/yutaszk23/" target="_blank"><button type="button" class="btn btn-lg btn-info">Hatena</button></a>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">趣味</h2></div>
						<div class="panel-body" style="line-height: 150%;">
								<p><%= simple_format(@profile.hobby) %></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-success" style="height :400px;">
						<div class="panel-heading"><h2 class="panel-title">スキル</h2></div>
						<div class="panel-body"　style="line-height: 150%">
							<p><%= simple_format(@profile.skill) %></p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">近況</h2></div>
						<div class="panel-body">
							<p><%= simple_format(@profile.lately) %></p>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="panel panel-success" style="height: 400px;">
						<div class="panel-heading"><h2 class="panel-title">経歴</h2></div>
						<div class="panel-body">
							<p><%= simple_format(@profile.history) %></p>
						</div>
					</div>
				</div>
			</div>
